* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	background:url(bg.jpg) no-repeat center top; 
	background-size: cover;
	background-attachment: fixed;
	font-family: "Bitter", Sans-serif;
}

.container {
	width: 1024px;
	margin: 0 auto;
	background-color: white;
}

a {
	text-decoration: none;
}

.yellow {
	color: #cfa205;
}

.grey {
	color: #7a7a7a;
}

.nav a, .key_words, h1, h3 {
	text-transform: uppercase;
}

.top {
	background-color: #090401;
}

.nav a {
	display: inline-block;
	padding: 13px 16px 10px 16px;
	font-family: "Varela";
	color: #dbdada;
}

.nav a:first-child {
	color: #cfa205;
}

a:hover, .title_description a:hover, .description a:hover {
	color: #cfa205;
}

h1, .key_words, .social_media, .grey_text p, .nav {
	text-align: center;
}

h1 {
	font-family: "Josefin Sans";
	font-size: 133px;
	font-weight: normal;
	padding-top: 60px;
	padding-bottom: 31px;
}

.key_words {
	padding-bottom: 35px;
	font-size: 18px;
}


.social_media {
	background-color: #e8e8e8;
	padding-top: 15px;
	padding-bottom: 15px;
	word-spacing: 5px;
}

.social_media a {
	display: inline-block;
	border-radius: 20px;
	box-sizing: content-box;
	border: 3px solid #9a9a9a;
	color: #9a9a9a;
	padding: 3px;
	width: 18px;
	height: 18px;
}

.social_media a:hover {
	border-color: #7b7b7b;
	color: #7b7b7b;
}

.grey_text, .content {
	width: 88%; /*arbitraire*/
	margin: auto;
}

.grey_text {
	border-bottom: 2px solid #e8e8e8;
	font-weight: 700;
	padding-top: 60px;
	padding-bottom: 60px;
	font-size: 18px;
	line-height: 1.8;
}

.content {
	display: flex;
	font-size: 16px;
}

.cols {
	width: 33%;
	font-size: 16px;
}

.title_description a {
	color: #090401;
	font-size: inherit;
}

.description {
	font-size: inherit;
}

.description a {
	color: inherit;
}




